@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&family=Ubuntu&display=swap');
:root {
  --main-bg-color: #e8e7e3;
  --main-color: #806B5E;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-color);
  background: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}
