.homeWrapper {
  display: flex;
  gap: 2rem;
  padding-top: 5rem;
  justify-content: center;
}

.introTitle {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 600;
  font-size: 4.375rem;
  line-height: 5.625rem;
  text-align: center;
}

.introDesc {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 400;
  font-size: 1.438rem;
  line-height: 2.813rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.introAction {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.875rem;
}

.homeButton:hover {
  box-shadow: none !important;
}

.homeWrapperLeft {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 50%;
  justify-content: center;
}

.homeWrapperRight {
  width: 50%;
  position: relative;
  padding-top: 2rem;
}

@media screen and (min-width: 769px) and (max-width: 1140px) {
  .introTitle {
    font-size: 2.5rem;
  }

  .introDesc {
    font-size: 1.2rem;
  }

  .navMenu {
    gap: 5rem !important;
  }
}

@media screen and (max-width: 958px) {
  .homeWrapper {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 2rem;
    gap: 0;
  }

  .homeWrapperLeft {
    width: 100%;
  }

  .homeWrapperLeft {
    gap: 0.25rem;
  }
}

@media screen and (max-width: 768px) and (min-width: 466px) {
  .homeWrapperRight {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .introTitle {
    font-size: 1.8rem;
  }

  .introDesc {
    font-size: 0.875rem;
  }

  .homeWrapper {
    padding-top: 0;
  }
}

@media screen and (max-width: 465px) {
  .introDesc {
    font-size: 0.75rem !important;
  }

  .homeWrapperRight {
    width: 100%;
  }
}
