.introTitle {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 600;
  font-size: 4.375rem;
  line-height: 5.625rem;
  text-align: center;
}

.introDesc {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 400;
  font-size: 1.438rem;
  line-height: 2.813rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.introAction {
  font-family: "Noto Serif TC";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.875rem;
}

.homeButton:hover {
  box-shadow: none !important;
}
